<section class="container-fluid">
    <div class="row">
        <div class="col projects-container">
            <h3 class="float-left">Projects</h3>
            <a routerLink="/tasks/add" title="add New Task" class="float-right">Add New Task</a>
            <div class="clearfix"></div>
            <div class="row pview-container">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pview-card">
                        <h4 class="main-title">New</h4>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Front End Development M...
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Front End Development M...
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Front End Development M...
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pview-card">
                        <h4 class="main-title">In Progress</h4>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Front End Development M...
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Front End Development M...
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pview-card">
                        <h4 class="main-title">Done</h4>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Setup Layout
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Brain Storming Assignment
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user float-right"> saqib Doagr</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pview-card">
                        <h4 class="main-title">Backlog</h4>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Learn ES6 Task
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user-plus float-right"></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Learning JavaScript Task
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user-plus float-right"></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <a routerLink="/tasks/1" class="d-block">Learning bootstrap twitter
                                <i class="float-right fas fa-pencil-alt"></i>
                            </a>
                            <span class="fas fa-user-plus float-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>