<header class="container-fluid">
    <a routerLink="">
      <div class="zameen_logo float-left"></div>
    </a>
    <nav class="navbar navbar-expand-lg navbar-light float-left">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarData" aria-controls="navbarData"
            aria-expanded="false" aria-label="Toggle">
            <span class="fa fa-align-justify"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarData">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects">New Project</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/users">Users</a>
                </li>
                <!-- active -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/signup">Registration</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="clearfix"></div>
</header>