<div class="col users-container">
  <h3 class="float-left">Users</h3>
  <div class="table-responsive-lg">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Role</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td scope="row">1</td>
                  <td class="name">awais</td>
                  <td>asghar</td>
                  <td>awais.asghar</td>
                  <td>Software Engineer</td>
              </tr>
              <tr>
                  <td scope="row">2</td>
                  <td class="name">Junaid</td>
                  <td>Khan</td>
                  <td>junaid.khan</td>
                  <td>Admin</td>
              </tr>
              <tr>
                  <td scope="row">3</td>
                  <td class="name">Naeem</td>
                  <td>Saeed</td>
                  <td>naeem.saeed</td>
                  <td>Team Lead</td>
              </tr>
              <tr>
                  <td scope="row">4</td>
                  <td class="name">Raza</td>
                  <td>Shahid</td>
                  <td>raza.shahid</td>
                  <td>Software Engineer</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>