<section class="container-fluid">
    <div class="row">
        <div class="col projects-container">
            <h3>Project Detail</h3>
            <div class="detail">
                <h4 class=" float-left">Project xyz</h4>
                <a class="btn float-right" href="#">Edit</a>
                <div class="clearfix"></div>
                <div class="detail-card">
                    <div class="head">Details</div>
                    <div class="body container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div>
                                    <b>Team Lead</b>
                                    <span class="float-right">Rana Umair Majeed</span>
                                </div>
                                <div>
                                    <b>Document</b>
                                    <div class="float-right">
                                        <div>
                                            <i class="fas fa-paperclip"></i> SOW.pdf</div>
                                        <div>
                                            <i class="fas fa-paperclip"></i> Project.doc</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div>
                                    <b>Members</b>
                                    <span class="float-right">Salman Khan , Saqib Dogar</span>
                                </div>
                                <div>
                                    <b>Manager</b>
                                    <span class="float-right">Faisal Sharif</span>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <b class="btn-block">Description</b>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                it to make a type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially unchanged. It was popularised
                                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions
                                of Lorem Ipsum.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comments Section -->
                <div class="comments-card">
                    <div class="head">Comments</div>
                    <div class="body">
                        <form>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Text</label>
                                </div>
                                <div class="col-md-11">
                                    <textarea rows="7"></textarea>
                                </div>
                            </div>
                            <input class="btn btn-info float-right" type="button" value="Submit">
                            <div class="clearfix"></div>
                        </form>
                        <h4>
                            <u>History</u>
                        </h4>
                        <div class="comments">
                            <div class="title">
                                <b>Updated by</b>
                                <a href="#">Ali Raza</a>
                                <b>3 days ago</b>
                            </div>
                            <ul>
                                <li>Created
                                    <b>New</b> Project by
                                    <b>Shafiq Ahmed</b>
                                </li>
                            </ul>
                            <span>User degree dropdown should show only those degree for which users data is available in report.</span>
                            <div class="title">
                                <b>Updated by</b>
                                <a href="#">Ali Raza</a>
                                <b>3 days ago</b>
                            </div>
                            <ul>
                                <li>Created
                                    <b>New</b> Project by
                                    <b>Shafiq Ahmed</b>
                                </li>
                            </ul>
                            <span>User degree dropdown should show only those degree for which users data is available in report.</span>
                            <div class="title">
                                <b>Updated by</b>
                                <a href="#">Ali Raza</a>
                                <b>3 days ago</b>
                            </div>
                            <ul>
                                <li>Created
                                    <b>New</b> Project by
                                    <b>Shafiq Ahmed</b>
                                </li>
                            </ul>
                            <span>User degree dropdown should show only those degree for which users data is available in report.</span>
                        </div>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>