<div class="col projects-container">
    <h3 class="float-left">Projects</h3>
    <a routerLink="/projects/add" title="add New Project" class="float-right">Add New Project</a>
    <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Documents</th>
                    <th scope="col">Team Lead</th>
                    <th scope="col">Members</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td class="name"><a routerLink="/projects/1">xyz</a></td>
                    <td>Project Afg</td>
                    <td><a href="#" title="etc Pdf file">etc.pdf</a>, <a href="#" title="etc doc file">etc.doc</a></td>
                    <td>Sohail Anwer</td>
                    <td>Hassan Ali, Junaid Khan</td>
                    <td><a routerLink="/tasks" title="far eye icon"><i class="far fa-eye" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>