<div class="col registration-container">
    <h3>Please sign up</h3>
    <form>
        <input class="input-style" type="text" placeholder="First Name">
        <input class="input-style" type="text" placeholder="Last Name">
        <input class="input-style" type="text" placeholder="Email address">
        <select class="select-style" multiple>
            <option>Admin</option>
            <option>Team Lead</option>
            <option>Software Engineer</option>
            <option>Junior Software Engineer</option>
            <option>Senior Software Engineer</option>
        </select>
        <input class="input-style" type="password" placeholder="Password">
        <input class="input-style btn" type="button" value="Sign up">
    </form>
</div>